
body {
    padding-top: 80px;
    
}


.canvas-container {
    width: 100% !important;
    height: 100% !important;
}
.canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
}